<!DOCTYPE html>
<html>
<head>
  <title>PushType</title>
  <%= stylesheet_link_tag    "push_type/application", media: "all" %>
  <%= javascript_include_tag "push_type/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
