<p>Hello <%= @user.name %></p>

<p>You're receiving this email because a PushType account has been created for you.</p>

<p>To get started, confirm your account and set your own password by clicking the link below:</p>

<table>
  <tr>
    <td class="padding">
      <p><%= link_to 'Confirm my account', push_type_admin.user_confirmation_url(@user, confirmation_token: @token), class: 'btn-primary' %></p>
    </td>
  </tr>
</table>

