<p>Hello <%= @user.name %></p>

<p>You're receiving this email because someone has requested to change your PushType password. If you didn't request this, please ignore this email.</p>

<p>To change your password, click the link below and follow the instructions:</p>

<table>
  <tr>
    <td class="padding">
      <p><%= link_to 'Change my password', push_type_admin.edit_password_url(@user, reset_password_token: @token), class: 'btn-primary' %></p>
    </td>
  </tr>
</table>

<p>Your password won't change until you access the link above and create a new one.</p>
