%article.user-list-item
  = link_to push_type_admin.edit_user_path(user) do
    .avatar= user.initials
    .title= user.name
    .meta
      %span.label.secondary.radius User
      %time= last_logged_in user