- title "Edit #{ @node.type.underscore.humanize.downcase }"
- for node in @node.ancestors.reverse
  - breadcrumbs.add node.title, push_type.node_nodes_path(node)
- breadcrumbs.add @node.title, push_type.edit_node_path(@node)

= form_for @node, url: push_type.node_path(@node), builder: PushType::FormBuilder do |f|
  = render 'form_fields', f: f
