.bootstrap-tagsinput {
  margin-bottom:        1rem;
  padding:              0.3rem;
  min-height:           42px;
  font-size:            $input-font-size;
  line-height:          1.5em;
  color:                $input-font-color;
  background-color:     $input-bg-color;
  border:               1px solid $input-border-color;
  border-radius:        0;
  box-shadow:           $input-box-shadow;
  cursor:               text;

  input {
    display:            inline;
    width:              auto !important;
    max-width:          inherit;
    margin:             0.2rem;
    padding:            0;
    background-color:   transparent;
    border:             none;
    box-shadow:         none;
    outline:            none;

    &:focus {
      background-color: inherit;
      border:           none;
      box-shadow:       none;
    }
  }

  .tag {
    margin:             0.2rem;
    font-size:          rem-calc(16);
    color:              $input-font-color;

    [data-role="remove"] {
      margin-left:      0.5rem;
      color:            $base;
      cursor:           pointer;
    }
    [data-role="remove"]:after {
      content:          'x';
      padding:          0 2px;
      font-weight:      600;
    }
    [data-role="remove"]:hover {
      color:            $white;
    }
  }
}
